<nav class="main-nav">
    <div class="logo">
        <h1>Gerenciador de invetário</h1>
    </div>
    <ul class="nav-links">
        <li><a href="dashboard.html" id="nav-dashboard">Dashboard</a></li>
        <li><a href="estoque.html" id="nav-estoque">Estoque</a></li>
        <li><a href="catalogo.html" id="nav-catalogo">Catálogo</a></li>
        <li><a href="usuarios.html" id="nav-usuarios">Usuários</a></li>
        <li class="nav-item-with-icon">
            <a href="configuracoes.html" id="nav-configuracoes">Configurações</a>
            <button id="themeToggle" class="theme-toggle" aria-label="Alternar tema">
                <i id="themeIcon" class="bi"></i>
            </button>
        </li>
    </ul>
</nav>
